main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

header {
  background-color: #F5BE12;
  display: block;
}

.characterCard {
  border: 1px solid lightgray;
  margin-top: 30px;
}

.imageCard > img {
  width: 100%;
}

.descriptionCard {
  padding: 0px 10px 30px 10px;
}